.thank-you {
  text-align: center;
  font-family: 'Chango';
  font-size: 2em;
  margin-bottom: 3em;
}

.thumb-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb {
  width: 100%;
  max-width: 350px;
  transition: 2s;
}

.up {
  transform: rotate(-90deg);
}

.sideways {
  transform: rotate(0deg);
}

.thank-you-note {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  font-family: 'Lato';
  margin-top: 6em;
}
